// ----------------------------------------------------------------------
	// Layout Breakpoints
// ----------------------------------------------------------------------
$maxWidth: 1280;
// ----------------------------------------------------------------------
	// Font
// ----------------------------------------------------------------------
$regularSize: 14px;
$line_height : 1.5;
$base_color : #333;
$letter-spacing : 1px;
$word-spacing : 1px;
$font_weight: 400;
// ----------------------------------------------------------------------
	// Font Families
// ----------------------------------------------------------------------
$fontfamilys: Helvetica, Arial, sans-serif;

// ----------------------------------------------------------------------
  // Grid
// ----------------------------------------------------------------------
$grid-columns: 12;

// ----------------------------------------------------------------------
  // color 
// ----------------------------------------------------------------------

$screenGreen: #00FF00;

// ----------------------------------------------------------------------
  // Rwd
// ----------------------------------------------------------------------

$small: 720px;
$medium: 721px;
$medium_max: 1365px;
$large: 1366px
