html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.row {
  max-width: 1280px;
  max-width: 80rem;
  margin: 0 auto; }
  .row {
    *zoom: 1; }
  .row:before, .row:after {
    content: "";
    display: table; }
  .row:after {
    clear: both; }

.col {
  margin-left: 1.6%; }

.col_1, .col_2, .col_3, .col_4, .col_5, .col_6, .col_7, .col_8, .col_9, .col_10, .col_11, .col_12 {
  float: left; }

.col_1 {
  width: 8.33333%; }

.col_2 {
  width: 16.66667%; }

.col_3 {
  width: 25%; }

.col_4 {
  width: 33.33333%; }

.col_5 {
  width: 41.66667%; }

.col_6 {
  width: 50%; }

.col_7 {
  width: 58.33333%; }

.col_8 {
  width: 66.66667%; }

.col_9 {
  width: 75%; }

.col_10 {
  width: 83.33333%; }

.col_11 {
  width: 91.66667%; }

.col_12 {
  width: 100%; }

.col:first-child,
.col_12 {
  margin-left: 0; }
